.Rproj.user
.Rhistory
.RData
.Ruserdata
Fundamentals of Modal Voicings -Hz for spectral analysis.zip
plots
plots.zip
lamdoma16_Cdorian.png
lamdoma16_C_D_D#_F_G_A_A#_version3.png
lamdoma16_C_D_D#_F_G_A_A#_version2.png
lamdoma16_.png
lamdoma16_C.png
lamdoma16_C_D.png
lamdoma16_C_D_D#_F_G_A_A#.png
lamdoma16_C_D_D#_F_G_A_A#_version1.png
lamdoma32_.png
lamdoma32_C.png
lamdoma32_C_D_D#_F_G_A_A#.png
lamdoma32_C_D_D#_F_G_A_A#_version1.png
lamdoma32_C_D_D#_F_G_A_A#_version2.png
lamdoma32_C_D_D#_F_G_A_A#_version3.png
lamdoma32__version2.png
lamdoma4_C.png
lamdoma4_C_D_D#_F_G_A_A#.png
trumpSpeech_start300_end600_length360_denom16_tempo60.txt
untitled_start300_end600_length360_denom16_tempo60.txt
Trump_Inaug_Speech.txt
modes3.png
modetext.txt
modetext
to-do
plots2.zip
